
@media (max-width: 1700px){ 
/* PARA TODA LA WEB */
body,
html {
    margin: 0;
    font-family: "Inter", sans-serif;
}








/* ENCABEZADO */
header {
    
    height: 152px;
    background-color: #ff3b3c;
}


                                            /* cuadro de busqueda*/

.search {   /*posicion del cuadro de busqueda*/
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}



.search .form {     /*cuadro de busqueda*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.search .form input {   /*estilizacion de la barra de busqueda en cuanto a tamaño*/
    height: 42px;
    border-radius: 14px;
    border: none;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

                                           /*Estilos para iconos de redes sociales*/
  
.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}           

.search .social ul li {
    padding: 0 10px;

}

                                                      /*Estilos para barra de navegacion */

.nav {
    padding: 10px 0;
   
 
    
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: left;
    text-decoration: none;

}

.nav ul li a:hover {  /*El hover es el objeto que aparece cuando se pone el cursor encima de algun elemento resaltandolo*/
    text-decoration: underline;
}









/* ENTRECUERPO */
section {
    
    height: 340px;
}

section#hero {
    
    height: 340px;
    background: url("./assets/hero_bg.png");
    background-size: cover;
    background-position: top center;
}
section#hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

 .title-container span{
    display: block;
    color: white;
    font-weight: 700;
}

.title-container span:first-child {
    font-size: 40px;
}

.title-container span:last-child {
    font-size: 100px;
    line-height: 80px;
}




/* CUERPO DE PAGINA */
main {
   padding: 50px;
   height: auto;
}

.product-container {
    
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 20px;
 
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

    width: 100%;
    margin:0 auto;
    height: inherit;
    min-height: inherit;
  
}

.product-container a {
    text-decoration: none;
    color: initial;

}

                                                 /* Tarjeta de producto */
.product-card {
    
    background-color: #b9b7b7;
    border-radius: 14px;
    width: 100%;
    max-width: 300px;;
    margin: 0px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    
}

.product-info {
    padding: 20px;
    box-sizing: border-box;
}

.product-title {
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
}

.product-description {
    font-size: small;
    font-weight: normal;
    color: blue;
    margin-bottom: 6px;
}

.product-price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.product-price-block .price {
    flex: 1;
    font-size: 22px;
    font-weight: 700;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

.product-tax-policy {
    font-size: medium;
    font-weight: lighter;
}











/* PIE DE PAGINA */
footer {
     /*border: 1px solid green;  le quitamos el borde a toda la web*/
    min-height: 368px;
    background-color: #7525a7;
    
}

footer .container {
    display: flex;
    flex-direction: column;
}

.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

 .columns-container .col ul {
    padding: 0;
    list-style-type: none;
} 

.columns-container .col ul li {
     padding: 8px 0;
}

.columns-container .col ul li.columnas {
    font-weight: bold;
    padding-bottom: 20px;
    
}

.columns-container .col ul li a {
    color: white;
    text-decoration: none;
}

.columns-container .col ul li a:hover {
    text-decoration: underline;
}

.copyright {
    border-top: 1px solid #7525a7;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 80px 0;
    box-sizing: border-box;
}











} 
   


















/*VISTA PARA TABLETS*/


@media (max-width: 768px) {
    .search .form input {
        width: 300px;
    }


.container {
    width: 100%;
}

.product-container {
    grid-template-columns: repeat(2, 1fr);
}
}








/*VISTA PARA MÓVILES*/



@media (max-width: 425px) {
    
    .search .form input {
        width: 100px;
    }
    
    
    
    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}